* {
    padding: 0;
    margin: 0;
    border: 0;

}

body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'cover title navSocial ';
    font-size: 1rem;
}

#cover {
    display: flex;
    flex-direction: column;
    grid-area: cover;
    padding: 20px 20px 0px 20px;

}

#cover img {
    height: 170px;
    align-self: center;
}

#title {
    grid-area: title;
    margin: 25px 0px 0px 0px;
    color: aliceblue;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

#title>p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#title h4 {
    font-weight: 200;
}

.button {
    margin-top: 10px;
}

#title .button a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    font-size: .9em;
    font-weight: 100;
    text-align: center;
    padding: 6px 25px 5px 25px;
    border-radius: 5px;
    background: rgb(141, 49, 32);
    box-shadow: 2px 2px 0px 0px rgb(92, 39, 29);

}

#title .button a:hover {
    background: rgb(177, 138, 131);
    box-shadow: 2px 2px 0px 0px rgba(116, 45, 33);
    color: rgb(27, 27, 27);
}

#title .button a:active {

    color: aliceblue;
    background: rgb(146, 77, 65);
    box-shadow: 2px 2px 0px 0px rgba(116, 45, 33);
}

#nav-social {
    font-family: 'Oswald', sans-serif;
    padding: 35px 0px 20px 0px;
    color: aliceblue;
    grid-area: navSocial;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    text-align: center;
    animation-name: slide-show;
    animation-duration: 3s;
    font-size: 0.9em;
}

#nav-social>div>a {
    text-decoration: none;
    margin: 0px 15px 0px 15px;
}

.icon {
    width: 25px;
}

/* modificar */
.hr1 {
    margin: 0;
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    animation-duration: 4s;
    animation-name: slide-left, slide-show;
    width: 95vw;
}


/* about */

main {
    display: flex;
    flex-direction: column;
    padding: 20px 100px 30px 100px;
}

#nav-about {
    font-weight: 300;
    color: aliceblue;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

#nav-about :nth-last-child(1) {
    font-size: 15px;
}

.about{
    padding-top: 20px;
    text-align: justify;
    font-size: 12px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.about h2,h3{
    font-weight: 200;
}
.about article{
    padding-top: 12px;
}

.about h2 b{
    padding-left: 30px;
}

.about a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 20px;
}



/* footer da página*/

footer {
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 14px;
    text-align: center;
    color: #CCC;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#contact a{
    text-decoration: none;

}