#first-name{
    animation-duration: 2s;   
    animation-name: slide-left;
}
#last-name{
    animation-name: slide-right;
    animation-duration: 2s;   
}

header .button, #profission {
    animation-name: slide-show;
    animation-duration: 4s;

}
#cover img {
    animation-name: slide-show;
    animation-duration: 4s;
}

@keyframes slide-show {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-top {
    from {
        margin-top: 50%;
    }

    to {
        margin-top: 0%;
    }
    
}

@keyframes slide-down {
    from {
        margin-top: 100px;
    }

    to {
        margin-top: 20px;
    }
    
}

@keyframes slide-left {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 0%;
    }
}

@keyframes slide-right {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}


