@media (max-width: 830px) {
    body {
        display: flex;
        flex-direction: column;
        height: 1500px;


    }

    header {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }


    #title {
        position: relative;
        display: inline;
        margin: 0;
        height: auto;
        text-align: center;
    }

    #title p {
        margin: 0;
    }

    #title h4 {
        margin-bottom: 15px;
    }

    #title>div {
        margin: 0;
    }

    .button {
        position: relative;
        margin: 0px;
    }

    

    .hr1 {
        margin-top: 15px;
    }

    footer {
        display: none;
    }

}