.calculator {
    height: 400px;
    width: 250px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.buttons {
    background-color: rgb(159, 159, 159);
    height: 320px;
    display: grid;
    grid-template-columns:
        1fr 1fr 1fr 1fr;
}
