html {
    height: 100vh;
}

body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    /* padding: 10px; */
    margin: 0;
    height: 100;
}

header {
    font-size: 1.3rem;
    height: 5%;
}

main {
    height: auto;
}

.game-area {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
}

.li{
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.l1,
.l2,
.l3,
.l4,
.l5,
.l6 {
    height: 50px;
    width:  50px;
    background-color: rgb(94, 86, 81);
    margin: 0px 1px 0px 1px;
    border-radius: 5px;
    font-size: 1.6rem;
    vertical-align: middle;
    text-align: center;
}


.keyboard {
    display: grid;
    grid-template-areas: "l1"
                         "l2"
                         "l3";
    grid-template-rows: auto auto auto;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgb(108, 101, 96);
}

#kb-l1 {
    margin-top: 10px;
    justify-content: center;
    grid-area: l1;
    display: flex;
    flex-direction: row;
    
}
#kb-l2 {
    display: flex;
    flex-direction: row;
    grid-area: l2;
    justify-content: center;
}#kb-l3 {
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    grid-area: l3;

}



.keyboard button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: grey;
    border: 0;
    border-radius: 5px;
    color: aliceblue;
    font-family: 'Bebas Neue', cursive;
    margin: 5px;
    padding: 0;
   
}
.keyboard button:hover{
    background-color:  rgb(108, 101, 96);
    border: solid 1px aliceblue;
}
.keyboard button:active {
    background-color: aliceblue;
    border: solid 1px black;
    color: black;
}

#bt-send{
    background-color:rgba(100, 200, 120, 0.8); 
}
#bt-erase{
    background-color:rgba(188, 117, 102, 0.9); 

}

#win{
    display: none;
    position: absolute;
    top: 20%;
    text-align: center;
    background-color:rgba(100, 200, 120, 0.8); 
    font-size: 30px;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
}
#deft{
    display: none;
    position: absolute;
    top: 20%;
    text-align: center;
    background-color:rgba(188, 117, 102, 0.9); 
    font-size: 30px;
    padding: 20px;
    border-radius: 10px;
}

.theWord{
    display: none;
}

@media (max-width: 510px){
    .keyboard button {
        height: 40px;
        width: 33px;
        font-size: 15px;
        margin: 8px 1px 8px 1px;
    }

    header > h1 {
        font-size: 2rem;
    }

    .keyboard {
        position: fixed;
        bottom: 0;
    }
}